<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <div class="sostav__title"><p>состав</p></div>
                    <div class="sostav__body">
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-1.jpg" alt=""></div>
                                <div class="sostav__name">Пчелиный воск</div>
                                <div class="sostav__description">улучшает кровообращение, способствует уменьшению воспаления, восстанавливает подвижность суставов.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-2.jpg" alt=""></div>
                                <div class="sostav__name">Экстракт майтенуса</div>
                                <div class="sostav__description">улучшает кровообращение, способствует уменьшению воспаления, восстанавливает подвижность суставов.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-3.jpg" alt=""></div>
                                <div class="sostav__name">Экстракт арники</div>
                                <div class="sostav__description">оказывает регенерирующее и иммуностимулирующее действие, помогает облегчить боль, уменьшает отечность.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-4.jpg" alt=""></div>
                                <div class="sostav__name">Глюкозамин</div>
                                <div class="sostav__description">оказывает регенерирующее и иммуностимулирующее действие, помогает облегчить боль, уменьшает отечность.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-5.jpg" alt=""></div>
                                <div class="sostav__name">Экстракт перца чили</div>
                                <div class="sostav__description">обладает сильным местнораздражающим свойством, благодаря чему обеспечивает обезболивающий эффект.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-6.jpg" alt=""></div>
                                <div class="sostav__name">Хондроитин</div>
                                <div class="sostav__description">обладает сильным местнораздражающим свойством, благодаря чему обеспечивает обезболивающий эффект.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sostav__product"><img src="../media/product-sostav.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <section class="section section_look">
            <div class="container">
                <div class="look">
                    <h2 class="look__title">Преимущества <mark>Hondrostrong </mark></h2>
                    <div class="look__list">
                        <div class="look__item"><p>Способствует снятию мышечного напряжения</p></div>
                        <div class="look__item"><p>Благоприятно влияет на восстановление костной и хрящевой тканей</p></div>
                        <div class="look__item"><p>Помогает ускорить кровоток во всем организме</p></div>
                    </div>
                    <div class="look__media"><img src="../media/product-2.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>