<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_look">
            <div class="container">
                <div class="look">
                    <h2 class="look__title">Преимущества <mark>Hondrostrong </mark></h2>
                    <div class="look__list">
                        <div class="look__item"><p>Способствует снятию мышечного напряжения</p></div>
                        <div class="look__item"><p>Благоприятно влияет на восстановление костной и хрящевой тканей</p></div>
                        <div class="look__item"><p>Помогает ускорить кровоток во всем организме</p></div>
                    </div>
                    <div class="look__media"><img src="../media/product-2.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>